# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Flask
# =========================
instance/
.webassets-cache

# =========================
# Testing / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# AWS / credentials
# =========================
.aws/

# =========================
# Build / packaging
# =========================
build/
dist/
*.egg-info/

# =========================
# Others
# =========================
*.jpg
*.csv
*.xlsx
.qodo